<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/learningmy?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>edu/etju/model/Admin.hbm.xml</value>
				<value>edu/etju/model/Sequence.hbm.xml</value>
				<value>edu/etju/model/Esrepertory.hbm.xml</value>
				<value>edu/etju/model/Classmemeber.hbm.xml</value>
				<value>edu/etju/model/Fanswers.hbm.xml</value>
				<value>edu/etju/model/Teacher.hbm.xml</value>
				<value>edu/etju/model/Vrepertory.hbm.xml</value>
				<value>edu/etju/model/Irepertory.hbm.xml</value>
				<value>edu/etju/model/Saqrepertory.hbm.xml</value>
				<value>edu/etju/model/Kprepertory.hbm.xml</value>
				<value>edu/etju/model/Student.hbm.xml</value>
				<value>edu/etju/model/Fquestions.hbm.xml</value></list>
		</property></bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" /><bean
		id="AdminDAO" class="edu.tju.dao.AdminDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
</bean>
	<bean id="VrepertoryDAO" class="edu.tju.dao.VrepertoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="KprepertoryDAO" class="edu.tju.dao.KprepertoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="StudentDAO" class="edu.tju.dao.StudentDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FquestionsDAO" class="edu.tju.dao.FquestionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="EsrepertoryDAO" class="edu.tju.dao.EsrepertoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FanswersDAO" class="edu.tju.dao.FanswersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TeacherDAO" class="edu.tju.dao.TeacherDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="IrepertoryDAO" class="edu.tju.dao.IrepertoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClassmemeberDAO" class="edu.tju.dao.ClassmemeberDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SaqrepertoryDAO" class="edu.tju.dao.SaqrepertoryDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="LoginPageAction" class="edu.tju.action.LoginPageAction">
		<property name="admindao">
			<ref bean="AdminDAO" />
		</property>
		<property name="teacherdao">
			<ref bean="TeacherDAO" />
		</property>
		<property name="studentdao">
			<ref bean="StudentDAO" />
		</property>
		
	</bean>
	<bean id="MLoginPageAction" class="edu.tju.action.MLoginPageAction">
		<property name="admindao">
			<ref bean="AdminDAO" />
		</property>
		<property name="teacherdao">
			<ref bean="TeacherDAO" />
		</property>
		<property name="studentdao">
			<ref bean="StudentDAO" />
		</property>
		
	</bean>
	
	<bean id="VrepertoryAction" class="edu.tju.action.VrepertoryAction">
		<property name="vrepertoryDao">
			<ref bean="VrepertoryDAO" />
		</property>
		
	</bean>
	
	<bean id="ESrepertoryAction" class="edu.tju.action.ESrepertoryAction">
		<property name="esrepertorydao">
			<ref bean="EsrepertoryDAO" />
		</property>
		
	</bean>
</beans>